.card {
    background-color: rgb(255, 185, 56);
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: left;
}

.cardTitle{
    font-size: large;
    margin-bottom: 0px;
}

.cardUpvotes{
    margin-top:5px;
    margin-bottom: 0px;
}

.cardLink{
    margin-top:5px;
}